<p>
  <strong>人間:</strong>
  <%=  te_s(@jyanken.human) %>
</p>

<p>
  <strong>コンピュータ:</strong>
  <%= te_s(@jyanken.computer) %>
</p>

<p>
  <strong>勝敗:</strong>
  <%= judgment_s(@jyanken.judgment) %>
</p>

<%= link_to '戻る', jyankens_path %>
